body{
    background-color: rgb(202, 229, 231, 0.575);
}

.head{
    display: flex;
    background-color: aquamarine;
    padding: 30px;
    z-index: -1;
    opacity: 0.4;
}

.title{
    font-size: 2rem;
    display: flex;
    margin-top: auto;
    color: rgb(128, 155, 179);
}

.navbar{
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
   
}

.features{
    display: flex;
    gap: 10px;
    list-style: none;
    
}

.item{
    display: inline;  
    
}
